* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/Iron_throne.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;;
}


/********** header **********/

#header {
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	margin-top: 50px;
}

h1 {
	font-size: 72px;
	color:#b0434a;
	text-shadow: 2px 2px 8px #000;
}



/********** timer **********/

#timer{
	font-family: 'Cinzel', cursive;
	font-size: 40px;
	color:#b0434a;
	text-shadow: 2px 2px 8px #000;
}


/********** content container **********/

#content {
	background-color: #c0c0c0;
	width: 65%;
	opacity: .9;
	border-radius: 25px;
	font-size: 16px;
}


/********** content: buttons **********/

.btn-default {
	color: #c0c0c0;
	background-color: #b0434a;
	border-color: #333;
}

#start-button {
	margin-top: 175px;
	padding: 25px 75px;
	font-size: 40px;
	font-family: 'Cinzel', serif;
	text-shadow: 2px 2px 8px #000;
}

#submit-button {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 25px 75px;
	font-size: 40px;
	font-family: 'Cinzel', serif;
	text-shadow: 2px 2px 8px #000;
}

